
.slick-next {
  display: none !important;
  right: 25px !important;
}
.slick-prev {
  display: none;
}

.active{
  color: red;
}

.content{
  display: none;
}

.customBtn button{
  box-shadow: none !important;
  font-size: 18px;
  text-transform: uppercase;
  color: #919190;
border-radius: 0px;
}
.customBtn button:focus{
  color: black;
  background-color: #4646ff;
}

.fade-right {
  color: #fff;
  animation: fadeInRight 2s ease-in-out;
}

@keyframes fadeInRight {
  from {
    opacity: 0;
    transform: translateX(300px);
  }
  to {
    opacity: 1;
  }
}

.fadeInUp{animation:fadeInUp 1s ease backwards;}
@keyframes fadeInUp{
  0%{transform:translate(0px, 100px); opacity: 0;}
  100%{transform:translate(0px, 0); opacity: 1;}
}

header {
  position: sticky;
  top: 0;
  z-index: 1000; 
}